.submitButtonReview {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bc0de;
  color: white;
}

.submitButtonReview:disabled {
  background-color: #8f8f8f;
  color: #7f7f7f;
  cursor: not-allowed;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
}


.modalIn input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
