/* TODO: Add sitewide styles */
*{
    padding:0 ;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}

img{
    width: 100%;
    object-fit: contain;
}
