.infoL {
  background: white;
  font-size: 0.9rem;
  height: fit-content;
  margin: 1rem;
  flex: 0.4;
}

.infoR {
  background: white;
  margin: 1rem;
  width: 250px;
}

.imageL {
  flex: 0.6;
  margin: 1rem;
}

.left {
  display: flex;
  flex: 0.8;
}

.right {
  flex: 0.2;
}

.productDetail {
  margin: 1rem auto;
  max-width: 1200px;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.nameL {
  font-size: 1.3rem;
  font-weight: bold;
}

.infoL > p,
.infoR > p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.infoL > p:last-child,
.infoR > p:last-child {
  border: none;
}

.infoR > p > button {
  background-color: black;
  border: 1px solid black;
  color: bisque;
  cursor: pointer;
  grid-column: 1 / -1;
  padding: 10px 16px;
}

.infoR p {
  display: grid;
  font-size: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
}

.infoR select {
  padding: 10px 16px;
}


.reviewPage {
  margin-top: 1rem;
}


.postReview,
.deleteReview,
.updateReview {
  margin-top: 1rem;
}
