.homeProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.homeTitle {
  margin-left: 8px;
  margin-bottom: 1rem;
  color: black;
  font-size: 1.5rem;
}

.homeScreen {
  margin: 1rem auto;
  max-width: 1200px;
}
