.productDetail{
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
}

.left{
    display: flex;
    flex: 0.8;
}
.imageL{
    margin: 1rem;
    flex: 0.6;

}
.infoL{
    margin: 1rem;
    flex:0.4;
    background: white;
    height: fit-content;
    font-size: 0.9rem;
}

.nameL{
    font-weight: bold;
    font-size: 1.3rem;
}

.infoL > p,
.infoR > p {
padding: 1rem;
border-bottom: 1px solid rgba(0,0,0,0.2);
}

.infoL >p:last-child,
.infoR >p:last-child{
    border: none;
}

.right{
    flex: 0.2;
}

.infoR{
    width: 250px;
    margin: 1rem;
    background: white;
}

.infoR p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.infoR> p>button {
    grid-column:1/-1 ;
    padding: 10px 16px;
    background-color: black;
    color: bisque;
    border: 1px solid black;
    cursor: pointer;
}

.infoR select{
    padding: 10px 16px;

}
