.product {
  padding: 1.5rem;
  background: #f0f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  flex-direction: column;
  margin: 6px 10px;
  display: flex;
  width: 320px;
  text-decoration: none;
}

.product > img {
  height: 200px;
  border-radius: 8px;
}

.productInfo > p {
  margin-bottom: 10px;
  text-decoration: none;
}

.infoPrice {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.infoDesc {
  font-size: 0.9rem;
  color: #666;
  text-decoration: none;
}

.infoName {
  overflow: hidden;
  font-size: 1.1rem;
  color: #222;
  text-decoration: none;
}


